<!DOCTYPE html>
<html>
<head>
<title>File Uploader</title>
<style type="text/css">
body {
  font-family: Sans-Serif;
}
</style>
</head>
<body>
  <h3>
    Select a file to upload as a new Chatter File.
  </h3>
  <input type="file" id="file" onchange="upload()"/>
  <p id="message"></p>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="forcetk.js"></script>
  <script>
    var client = new forcetk.Client();

    // Bypass the proxy - you must whitelist your server in Setup | Security Controls | CORS
    client.proxyUrl = null;

    client.setSessionToken('<%= oauth.access_token %>', 'v33.0', '<%= oauth.instance_url %>');

    function upload() {
        var file = $("#file")[0].files[0];
        client.createBlob('ContentVersion', {
            Origin: 'H', // 'H' for Chatter File, 'C' for Content Document
            PathOnClient: file.name
        }, file.name, 'VersionData', file, function(response){
            console.log(response);
            $("#message").html("Chatter File created: <a target=\"_blank\" href=\"<%= oauth.instance_url %>/" + response.id + "\">Take a look!</a>");
        }, function(request, status, response){
            $("#message").html("Error: " + status);
        });
    }
  </script>
</body>
</html>
